@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'IBM Plex Sans', sans-serif;
	color: white;
	background-color: #101010;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

h1, h2 {
	margin: 0;
}

/* Header */
header {
	display: flex;
	align-items: center;
	gap: 2em;
}

header input {
	font: bold 1em 'IBM Plex Sans', sans-serif;
	padding: 4px 16px;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

/* Board */
canvas {
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
	cursor: crosshair;
}

#board-frame {
	width: 16cm;
	max-width: 100vw;
	aspect-ratio: 1;
	padding: 4px;
	border-radius: 4px;
	background-color: #A38D75;
}

/* Timers */
#timers {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 2em;
	border-radius: 0.2em;
	background-color: #202020;
}

.timer span:first-child {
	color: #808080;
}

.timer span:last-child {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 2em;
}

/* Buttons */
.buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	gap: 1em;
}

form {
	width: 100%;
}

button {
	width: 100%;
	font-size: 1em;
	font-weight: bold;
}

/* Score */
#score {
	align-self: center;
}

/* Settings */
table {
	width: fit-content;
	align-self: center;
	border: none;
}

td {
	padding: 0 1em;
}

td:last-child {
	font-family: 'IBM Plex Mono', monospace;
	text-align: end;
}
