@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'IBM Plex Sans', sans-serif;
	color: white;
	background-color: #101010;
}

main {
	display: flex;
	flex-direction: column;
}

form {
	max-width: 16cm;
	align-self: center;
}

form div {
	display: grid;
	row-gap: 0.5ch;
	grid-template-columns: 1fr 1fr;
}

button {
	width: 100%;
	margin: 1em 0;
}
